/*Styling form and resume sections */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form{
    margin: auto;
    background-color: rgb(228, 242, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}
h1{
    
   text-align: center;
   margin-bottom: 20px;
   text-align: 20px;
   color: #333;
}


fieldset {
    border: 1px solid skyblue;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: aliceblue;    
}
legend {
    font-weight: bold;
    text-align: left;
    color: red(34, 29, 29);
}
label {
    display: block;
    margin: 10px 0 10px;
    color: black;
}
input, textarea {
    margin-top: 4px;
    padding: 10px;
    width: calc(100% - 1px);
    border: 1px solid skyblue;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button :hover {
    background-color: rgb(36, 32, 240);

}
#resume-display {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Shareable link styles */
#shareable-link {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#shareable-link a {
    color: #1e90ff;
    word-break: break-all;
}

#donwload-pdf {
    margin-top: 10px;
}